/*====================
     services button
====================*/
.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: auto;
    margin: 5vh auto 0 auto;
}

@keyframes move {
    100% {
        transform: scale(1.4);
        opacity: 0;
    }
}

.buttons .button {
    display: flex;
    margin: auto;
    width: 106px;
    height: 106px;
    border-radius: 50%;
    background-color: rgb(18, 247, 255);
    position: relative;
    cursor: pointer;
}

.buttons .button .icon {
    width: 50px;
    justify-content: center;
    margin: auto;
}

.buttons .button:before {
    content: "";
    position: absolute;
    background: none;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid var(--hover-color);
}

.buttons .button:hover:before {
    animation: move 1s forwards;
}