/*================================
    praliax sroling efect css
/*================================*/
.scroll-scale{
    opacity: 0;
    transform: scale(.9);
    transition: all 2s;
}

.scroll-bottom{
    opacity: 0;
    transform: translateY(300px);
    transition: 3s;
}

.scroll-top{
    opacity: 0;
    transform: translateY(-300px);
    transition: 3s;
}

.scroll-left{
    opacity: 0;
    transform: translateX(-300px);
    transition: 3s;
}

.scroll-right{
    opacity: 0;
    transform: translateX(300px);
    transition: 3s;
}

.show-items{
    opacity: 1;
    transform: translateX(0);
}
