/*================================
    sroll br css
/*================================*/
::-webkit-scrollbar{
    height: 0;
    width: .5rem;
}
::-webkit-scrollbar-track{
    background: var(--bg-color);
}
::-webkit-scrollbar-thumb{
    background: var(--hover-color);
    border-radius: 5%;
}